---
---

@charset "UTF-8";

html,
body,
.container,
.container > .row {
    height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{ "assets/background.jpg" | relative_url }});
    background-size: cover;
}

h1 {
    font-size: 4rem;
    color: white;
}
h2 {
    color: white;
}

@import "icons";

li {
    border: 2px solid white;

    a {
        color: white;
        padding: 15px;

        &:hover {
            color: white;
        }
    }
}
