<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'assets/css/front.css' | relative_url }}">


</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col text-center">
                <h1>{{ site.title }}</h1>
                <h2>{{ site.description }}</h2>

                <ul>
                    <li><a class="fas fa-2x fa-blog" href="{{ site.baseurl }}{% link blog.html %}" title="Blog"></a></li>

                    <li><a class="fab fa-2x fa-info" href="{{ site.baseurl }}{% link about.html %}" title="About"></a></li>

                    {% if site.github.username %}
                    <li><a class="fab fa-2x fa-github" href="https://github.com/{{ site.github.username }}" title="GitHub"></a></li>
                    {% endif %}

                    {% if site.linkedin.username %}
                    <li><a class="fab fa-2x fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin.username }}" title="linkedin"></a></li>
                    {% endif %}

                    {% if site.twitter.username %}
                    <li><a class="fab fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter.username }}" title="Twitter"></a></li>
                    {% endif %}

                    {% if site.email %}
                    <li><a class="fas fa-2x fa-envelope" href="mailto:{{ site.email }}" title="Email"></a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>

</body>

</html>
